<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="my-dropdown.html">
<link rel="import" href="../my-redux.html">

<dom-module id="my-header">
<template>
    <style include="shared-styles">
    :host {
        display: block;
        color: var(--toolbar-font-color);
        background-color: var(--toolbar-background-color);
    }
    .fixed-width {
        width: 100%;
        margin: auto;
        max-width: var(--app-fixed-width);
        height: var(--toolbar-height);
        @apply(--layout-horizontal);
        @apply(--layout-center);
    }
    .logo {
        margin-top: 5px;
        line-height: var(--toolbar-height);
        overflow: hidden;
        @apply(--layout-flex);
    }
    .header-button, my-dropdown{
        color: var(--text-navigation-color);
        font-size: var(--toolbar-font-size);
        line-height: var(--toolbar-height);
        height: var(--toolbar-height);
        font-weight: var(--toolbar-font-weight);
        padding: 0 10px;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }
    .avatar{
        background-color: white;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-top: 10px;
    }
    </style>
    <firebase-auth app-name="bkawkfirebase" id="auth"></firebase-auth>
    <app-toolbar class="toolbar">
        <div class="fixed-width">
            <template is="dom-if" if="{{mobile}}">
                <paper-icon-button icon="menu" flat on-click="_toggleDrawer"></paper-icon-button>
            </template>
            <a href="/" class="logo"><img src="../../images/logo.svg" on-tap="_goHome"></a>
            <template is="dom-if" if="{{loggedIn}}">
                <my-dropdown 
                    options="Settings,Logout" 
                    selected="{{userMenu}}" 
                    columns="1">
                    <iron-image src="{{user.photoURL}}" class="avatar" sizing="cover" preload fade></iron-image>
                </my-dropdown>
            </template>
        
            <template is="dom-if" if="{{!mobile}}">
                <template is="dom-if" if="{{!loggedIn}}">
                    <template is="dom-if" if="{{showInviteLink}}">
                        <a href="#" class="header-button" on-tap="_invite">{{localize('join')}}</a>
                    </template>
                        <a href="#" class="header-button" on-tap="_logIn">{{localize('login')}}</a>
                        <my-dropdown 
                            options="English,中文" 
                            selected="{{language}}" 
                            columns="1" 
                            caret>{{localize('languages')}}
                        </my-dropdown>
                </template>
            </template>

        </div>
    </app-toolbar>

</template>

<script>
    class MyHeader extends ReduxMixin(Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element)) {

    connectedCallback() {
        super.connectedCallback();
        this.loadResources(this.resolveUrl("../my-locales.json"));
    }

    static get is() { 
        return 'my-header'; 
    }

    static get actions() {
        return Object.assign({
            LANGUAGE: function(language){
                return { type: 'LANGUAGE', language: language}
            },
            DRAWER: function(drawer){
                return { type: 'DRAWER', drawer: drawer}
            },
            SHOW_INVITE: function(showInvite){
                return { type: 'SHOW_INVITE', showInvite: showInvite}
            },
            SHOW_LOGIN: function(showLogin){
                return { type: 'SHOW_LOGIN', showLogin: showLogin}
            },
            LOGGED_IN: function(loggedIn){
                return { type: 'LOGGED_IN', loggedIn: loggedIn}
            },
            USER: function(user){
                return { type: 'USER', user: user}
            },
            PAGE: function(page){
                return { type: 'PAGE', page: page}
            }
                       
        });
    }

    static get properties() {
        return {
            language: {
                type: String,
                observer: '_language'
            },
            defaultLanguage: {
                type: String,
                statePath: 'language',
                observer: '_defaultLanguage'
            },
            mobile:{
                type: Boolean,
                statePath: 'mobile',
            },
            drawer: {
                type: Boolean,
                statePath: 'drawer',
            },
            loggedIn: {
                type: Boolean,
                statePath: 'loggedIn',
            },
            showInviteLink: {
                type: Boolean,
                statePath: 'showInviteLink',
            },
            user: {
                type: Object,
                statePath: 'user',   
            },
            userMenu: {
                type: String,
                observer: '_userMenu'
            }
        };
    }
        _userMenu(){
            if(this.userMenu == 'Logout'){
                this.$$('#auth').signOut();
                this.dispatch('LOGGED_IN', false);
                this.dispatch('USER', null);
            }
            if(this.userMenu == 'Settings'){
                this.dispatch('PAGE', 'settings');
            }
        }
        _goHome(){
            this.dispatch('PAGE', 'home');
        }
        _defaultLanguage(){
            this.language = this.defaultLanguage
        }
        _logIn(){
            this.dispatch('SHOW_LOGIN', true);
        }
        _invite(){
            this.dispatch('SHOW_INVITE', true);
        }
        _language(){
            if(this.language){
                window.localStorage.setItem("language", this.language);
                this.dispatch('LANGUAGE', this.language);
            }
        }
        _toggleDrawer(){
            this.drawer = !this.drawer;
            this.dispatch('DRAWER', this.drawer);
        }
    }
    window.customElements.define(MyHeader.is, MyHeader);
</script>
</dom-module>
