<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="my-dropdown.html">
<link rel="import" href="../my-redux.html">

<dom-module id="my-header">
  <template>
    <style include="shared-styles">
    :host {
        display: block;
        color: var(--app-secondary-color);
        background-color: var(--app-primary-color);
    }
    .fixed-width {
        width: 100%;
        margin: auto;
        max-width: var(--app-fixed-width);
        height: var(--toolbar-height);
        @apply(--layout-horizontal);
        @apply(--layout-center);
    }
    .logo {
        margin-top: 5px;
        line-height: var(--toolbar-height);
        overflow: hidden;
        @apply(--layout-flex);
    }
    .header-button, my-dropdown{
        color: var(--text-navigation-color);
        font-size: 13px;
        line-height: 52px;
        height: 52px;
        padding: 0 10px;
        font-weight: 400;
        text-decoration: none;
        display: block;
        cursor: pointer;
        opacity: 0.8;
    }
    </style>

    <app-toolbar class="toolbar">
        <div class="fixed-width">
            <template is="dom-if" if="{{mobile}}">
                <paper-icon-button icon="menu" flat on-click="_toggleDrawer"></paper-icon-button>
            </template>
            <a href="/" class="logo"><img src="../../images/logo.svg" ></a>
            <template is="dom-if" if="{{loggedIn}}">
                logged in
            </template>
            <template is="dom-if" if="{{!loggedIn}}">
                <a href="#" class="header-button" on-tap="_join">{{localize('join')}}</a>
                <a href="#" class="header-button" on-tap="_logIn">{{localize('login')}}</a>
                <my-dropdown 
                    menu-options="English, 中文" 
                    selected="{{language}}" 
                    columns="1" 
                    caret>{{localize('languages')}}
                </my-dropdown>
            </template>
        </div>
    </app-toolbar>

  </template>

  <script>
    class MyHeader extends ReduxMixin(Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element)) {

    connectedCallback() {
        super.connectedCallback();
        this.loadResources(this.resolveUrl("../my-locales.json"));
    }

    static get is() { 
        return 'my-header'; 
    }

    static get actions() {
        return Object.assign({
            LANGUAGE: function(language){
                return { type: 'LANGUAGE', language: language}
            }
        });
    }

    static get properties() {
        return {
            drawer: {
                type: Boolean,
                notify: true,
            },
            language:{
                type: String,
                value: 'English',
                observer: '_language'
            }
        };
    }

        _language(){
            if(this.language){
                this.dispatch('LANGUAGE', this.language);
            }
        }
        _toggleDrawer(){
            this.drawer = !this.drawer;
        }
    }
    window.customElements.define(MyHeader.is, MyHeader);
</script>
</dom-module>
