<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../my-redux.html">

<dom-module id="my-invite">
<template>
    <style include="shared-styles">
    :host {
        display: block;
    }
    .overlay{
        will-change: transform, opacity;
        background-color: var(--modal-overlay-color);
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        z-index: 999;
        opacity: 0;
        animation: fadein 0.3s;
        transition-timing-function: ease-out;
        animation-fill-mode: forwards;
        @apply(--layout-horizontal);
        @apply(--layout-center); 
    }
    .overlay-out{
        animation: fadeout 0.3s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    .outer-container{
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 0px;
        z-index: 1000;
        opacity: 1;
        cursor: pointer;
        @apply(--layout-horizontal);
        @apply(--layout-center); 
    }
    .container{
        padding: 20px 45px;
        position: relative;
        width: var(--modal-width);
        height: auto;
        background-color: var(--modal-bacground-color);
        z-index: 1001;
        opacity: 1;
        animation: fadeup 0.4s;
        transition-timing-function: ease-out;
        animation-fill-mode: forwards;
        margin: auto;
        border-radius: var(--modal-border-radius);
        cursor: default;
        -webkit-box-shadow: -1px 6px 21px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: -1px 6px 21px 0px rgba(0,0,0,0.15);
        box-shadow: -1px 6px 21px 0px rgba(0,0,0,0.15);
    }
    .container-out{
        animation: fadedown 0.4s;
        transition-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
    .save{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 25px;
        position: relative;
        left: -5px;
    }

  

    @keyframes fadein {
        from { opacity: 0; }
        to  { opacity: 0.6; }
    }
    @keyframes fadeup {
        from { 
            opacity: 0;
            transform: translate(0px, 30px);
            }
        to  { 
            opacity: 1;
            transform: translate(0px, 0px);
            }
    }
    @keyframes fadeout {
        from { opacity: 1; }
        to  { opacity: 0; }
    }
    @keyframes fadedown {
        from { 
            opacity: 1;
            transform: translate(0px, 0px);
            }
        to  { 
            opacity: 0;
            transform: translate(0px, 30px);
            }
    }
    </style>

    <firebase-document id="mydoc" app-name="bkawkfirebase"></firebase-document>

    <div class="outer-container" on-tap="_close">
        <div class="container" onclick="event.stopPropagation()" id="container">    
            <template is="dom-if" if="{{!thankyou}}">
                <h2>{{localize('invite')}}</h2>
                <small>{{localize('invite-why')}}</small>
                <paper-input 
                    label="{{localize('email')}}" 
                    value="{{email}}" 
                    required 
                    no-label-float
                    id="email"
                    error-message="please enter a valid email address"
                    required
                    on-keydown="_submitOnEnter"></paper-input>
                <paper-input 
                    label="{{localize('website-twitter-blog')}}" 
                    value="{{social}}" 
                    required 
                    no-label-float
                    id="social"
                    error-message="Please enter somthing"
                    required
                    on-keydown="_submitOnEnter"></paper-input>
                <paper-textarea 
                    label="{{localize('somthing-about-you')}}" 
                    value="{{about}}" 
                    required 
                    no-label-float
                    id="about"
                    error-message="Please enter somthing"
                    required
                    on-keydown="_submitOnEnter"></paper-textarea>
                <paper-button on-tap="_requestInvite" class="save">{{localize('request-invite')}}</paper-button>
            </template>
            <template is="dom-if" if="{{thankyou}}">
                <h2>{{localize('thank-you')}}</h2>
                <small>{{localize('what-next')}}</small>
                 <paper-button class="save" onclick="validate()">{{localize('close')}}</paper-button>
            </template>
        </div>
    </div>
    <div class="overlay" id="overlay"></div>

</template>

<script>
    class MyInvite extends ReduxMixin(Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element)) {


    static get is() { 
        return 'my-invite'; 
    }

    static get actions() {
        return Object.assign({
            SHOW_INVITE: function(showInvite){
                return { type: 'SHOW_INVITE', showInvite: showInvite}
            },
            SHOW_INVITE_LINK: function(showInviteLink){
                return { type: 'SHOW_INVITE_LINK', showInviteLink: showInviteLink}
            }
        });
    }

    connectedCallback() {
        super.connectedCallback();
        this.loadResources(this.resolveUrl("../my-locales.json"));
    }

    static get properties() {
        return {
            mobile:{
                type: Boolean,
                statePath: 'mobile',
            },
            drawer: {
                type: Boolean,
                statePath: 'drawer',
            },
            loggedIn: {
                type: Boolean,
                statePath: 'loggedIn',
            },
            setLanguage: {
                type: String,
                statePath: 'language',
                observer: '_language'
            },
            thankyou: {
                type: Boolean,
                value: false,
            }
        };
    }

        _requestInvite(e){
            e.stopPropagation();
            this.$.mydoc.path = null
            this.$.mydoc.data =  {"email": this.email, "social": this.social, "about": this.about};
            this.$.mydoc.save('invites');
            this.thankyou = true;
            this.dispatch('SHOW_INVITE_LINK', false);
            window.localStorage.setItem("showInviteLink", false);
        }
        _language(){
            this.language = this.setLanguage;
        }
        _close(){
            this.toggleClass('container-out', true, this.$.container);
            this.toggleClass('overlay-out', true, this.$.overlay);
            setTimeout(function(){ 
                this.toggleClass('container-out', false, this.$.container);
                this.toggleClass('overlay-out', false, this.$.overlay);
                this.dispatch('SHOW_INVITE', false);
            }.bind(this), 300);  
        }
    }
    window.customElements.define(MyInvite.is, MyInvite);
</script>
</dom-module>
